#onetrust-consent-sdk #ot-sdk-btn-floating.ot-floating-button {
  width: 36px;
  height: 36px;
}
#onetrust-consent-sdk #ot-sdk-btn-floating .ot-floating-button__front svg,
#onetrust-consent-sdk #ot-sdk-btn-floating .ot-floating-button__back svg {
  display: initial;
  width: 13px;
  height: 13px;
}
#onetrust-consent-sdk
  #ot-sdk-btn-floating.ot-floating-button
  .ot-floating-button__front.custom-persistent-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ececec'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 100px;
}
