@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$pink-800,
  $secondary: color-palette.$light-blue-400,
  $surface: color-palette.$grey-800,
  $error: color-palette.$deep-orange-a700,
  $background: color-palette.$grey-800,
  $on-primary: #e5ccd5,
  $on-secondary: color-palette.$light-blue-50,
  $on-surface: color-palette.$grey-400,
  $on-error: color-palette.$deep-orange-50
);

.theme-default.dark,
.theme-default.dark::before,
.theme-default.dark::after {
  --primary: #{theme.$primary};
  --secondary: #{theme.$secondary};
  --surface: #{theme.$surface};
  --error: #{theme.$error};
  --background: #{theme.$background};
  --on-primary: #{theme.$on-primary};
  --on-secondary: #{theme.$on-secondary};
  --on-surface: #{theme.$on-surface};
  --on-error: #{theme.$on-error};
}
