@use 'sass:color';
@use '@material/theme/color-palette';
@use '@material/theme/custom-properties';

// Svelte Colors!
@use '@material/theme' as theme with (
  $primary: color-palette.$pink-800,
  $secondary: color-palette.$light-blue-400,
  $surface: color-palette.$grey-800,
  $error: color-palette.$deep-orange-a700,
  $background: color-palette.$grey-800,
  $on-primary: #e5ccd5,
  $on-secondary: color-palette.$light-blue-50,
  $on-surface: color-palette.$grey-400,
  $on-error: color-palette.$deep-orange-100
);

// Custom Property Colors
.error-on-background {
  @include theme.property(color, custom-properties.create(--error-color, red));
  @include theme.property(
    background-color,
    custom-properties.create(--error-background-color, red)
  );
}

@import '@material/typography/mdc-typography';
$mdc-typography-font-family: var(--font, 'sans-serif');

.mdc-typography--headline5,
.mdc-typography--headline6 {
  font-weight: 700;
}

.theme-default.dark,
.theme-default.dark::before,
.theme-default.dark::after {
  --primary: #{theme.$primary};
  --secondary: #{theme.$secondary};
  --surface: #{theme.$surface};
  --error: #{theme.$error};
  --background: #{theme.$background};
  --on-primary: #{theme.$on-primary};
  --on-secondary: #{theme.$on-secondary};
  --on-surface: #{theme.$on-surface};
  --on-error: #{theme.$on-error};
}
