@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: color-palette.$pink-800,
	$secondary: color-palette.$light-blue-400,
	$background: color-palette.$grey-300,
	$surface: #ffffff,
	$error: color-palette.$deep-orange-a700,
	$on-primary: color-palette.$pink-50,
	$on-secondary: color-palette.$light-blue-50,
	$on-surface: color-palette.$grey-900,
	// $on-background: #181818,
	$on-error: color-palette.$deep-orange-50
);

@import '@material/typography/mdc-typography';
$mdc-typography-font-family: var(--font, 'sans-serif');

.mdc-typography--headline5,
.mdc-typography--headline6 {
	font-weight: 700;
}

.theme-default, ::before, ::after {
	--primary: #{theme.$primary};
	--on-primary: #{theme.$on-primary};
	--secondary: #{theme.$secondary};
	--on-secondary: #{theme.$on-secondary};
	--surface: #{theme.$surface};
	--on-surface: #{theme.$on-surface};
	--error: #{theme.$error};
	--background: #{theme.$background};
}
