@import url(./fonts.css);
/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root,
::before,
::after {
  --nav-h: 4.35rem;
  --main-h: calc(100vh - var(--nav-h));
  --top-offset: 3.75rem;
  --sidebar-w: 18.35rem;
  --ad-w: var(--sidebar-w);
  --sidebar-mid-w: 22.5rem;
  --sidebar-large-w: 30rem;
  --main-width: 50rem;
  --side-nav: 2rem;
  --side-page: var(--side-nav);
  --player-m-x: 1rem;
  --player-w: calc(100vw - var(--player-m-x));
  --footer-h: 3rem;
  --toolbar-h: 3rem;
  --pagebar-h: 3rem;
  --grid-gap-sm: 1px;
  --grid-gap: 2px;
  --grid-gap-md: 3px;
  --grid-gap-lg: 4px;
  --xs-h: 50px;
  --sm-h: 80px;
  --md-h: 100px;
  --lg-h: 130px;
  --xl-h: 150px;
  /* easings */
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
::selection {
  background: var(--error);
  color: white;
}
@media screen and (min-width: 768px) {
  :root {
    --side-page: 14vw;
    --top-offset: 6.25rem;
    --side-nav: 3rem;
    --player-w: 19rem;
    --poster-w: 260px;
    --page-w: 700px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --page-w: 900px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --page-w: 1040px;
  }
}
/*	theme vars */
.theme-default,
.theme-default ::before,
.theme-default ::after {
  --background-100: #dedede;
  --back-light: #f6fafd;
  --back-white: #fff;
  --back-dark: #868585;
  --back-api: #eff8ff;
  --background-intense: #eeeeee;
  --error-color: #eeeeee;
  --error-background-color: rgba(255, 0, 0, 1);
  --alt: #787867;
  --flash: #40b3ff;
  --warning: #ff3e00;
  --warning-500: #ff622d;
  --warning-400: #ff8056;
  --warning-300: #ff9e7e;
  --warning-200: #ffbfa9;
  --warning-100: #ffd1c2;
  --info: #536b86;
  --success: var(--primary);
  --heading: var(--secondary);
  --text: #444;
  --text-light: #ebebeb;
  --text-grey: #a5a5a5;
  --text-light-grey: #c7c7c7;
  --sidebar-text: rgba(255, 255, 255, 0.75);

  --border-w: 0.1875rem; /* border-width  */
  --border-r: 0.25rem; /* border-radius */
  --ripple-selected-opacity: 0.4;
  --ripple-activated-opacity: 0.4;
  --ripple-hover-opacity: 0.2;
  --ripple-press-opacity: 0.5;
  --select-border-w: 6px;

  --mdc-typography-font-family: var(--font);
  --mdc-shape-none: 0;
  --mdc-shape-small: 0.15rem;
  --mdc-shape-medium: 0.25rem;
  --mdc-shape-large: 0.45rem;

  --mdc-theme-primary: var(--primary);
  --mdc-theme-secondary: var(--secondary);
  --mdc-theme-background: var(--background);
  --mdc-theme-surface: var(--surface);
  --mdc-theme-error: var(--error);
  --mdc-theme-on-primary: var(--on-primary);
  --mdc-theme-on-secondary: var(--on-secondary);
  --mdc-theme-on-surface: var(--on-surface);
  --mdc-theme-on-error: var(--on-error);
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-ripple-selected-opacity: var(--ripple-selected-opacity, 0.08);
  --mdc-ripple-activated-opacity: var(--ripple-activated-opacity, 0.12);
  --mdc-ripple-hover-opacity: var(--ripple-hover-opacity, 0.12);
  --mdc-ripple-press-opacity: var(--ripple-press-opacity, 0.24);

  --drp-theme-primary: var(--primary);
  --drp-theme-selection: var(--on-primary);
  --drp-theme-within-selection-color: #424242;
  --drp-theme-readout-background: var(--primary);
  --drp-theme-readout-color: var(--on-primary);
  --drp-theme-border-color: inherit;
  --drp-theme-border-radius: 0;
  --drp-theme-label-color: var(--on-surface);
  --drp-theme-label-background: var(--background-intense);
  --drp-theme-font: var(--font);
}
@media (prefers-color-scheme: dark) {
  .theme-default.dark,
  .theme-default.dark ::before,
  .theme-default.dark ::after {
    --background-100: #101010;
    --background-intense: #222222;
  }
}
.theme-default.dark,
.theme-default.dark ::before,
.theme-default.dark ::after {
  --background-100: #101010;
  --background-intense: #222222;

  --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.54);
  --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.38);
}
/*	typo vars */
.typo-default {
  --caption-fs: 0.95em;
  --code-fs: 0.8125rem;
  --h6: 0.875rem;
  --h5: 1rem;
  --h4: 1.125rem; /* default font-size */
  --h3: 1.625rem;
  --h2: 1.875rem;
  --h1: 2rem;
  --linemax: 26.25em; /* max line-length */
  --lh: 1.5; /* base line-height */

  /*	fonts ---------------------------------- */
  /* --font: 'Overpass', sans-serif; */
  --font: 'BellGothic', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --caption-font: 'Material Icons Outlined', sans-serif;
}
/*	base reset ----------------------------- */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  border-collapse: collapse;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-style: inherit;
}
/*	link reset ----------------------------- */
a {
  text-decoration: none;
  cursor: inherit;
  color: inherit;
}
a[href] {
  cursor: pointer;
}
a:hover,
a:active {
  color: var(--flash);
}

/*
-----------------------------------------------
	global styles
-----------------------------------------------
*/

/*	typography ----------------------------- */
body {
  font: 300 var(--h4) / var(--lh) var(--font);
  background-color: var(--background);
  color: var(--on-surface);

  /* default spacing of Overpass is a bit too airy */
  /* letter-spacing: -.013em; */
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  position: relative;
  margin: 0;
}
/* h1, h2, h3, h4, h5, h6 { font-weight: 600 } */
h6 {
  font-size: var(--h6);
}
h5 {
  font-size: var(--h5);
}
h4 {
  font-size: var(--h4);
}
h3 {
  font-size: var(--h3);
}
h2 {
  font-size: var(--h2);
}
h1 {
  font-size: var(--h1);
}

h1,
h2 {
  font-family: var(--font);
  line-height: 1.25;
}
h3 {
  font-weight: 300;
}

p,
ol,
ul {
  margin: 0 0 1em 0;
}
.b,
b,
strong {
  font-weight: 600;
}

tt,
code,
kbd,
samp {
  font: 400 var(--code-fs) / 1.7 var(--font-mono);
}
*:focus {
  outline: none !important;
}
code {
  position: relative;
  border-radius: 0.3em;
  white-space: nowrap;
  color: #444;
  -webkit-font-smoothing: initial;
}
pre code {
  top: 0;
  white-space: inherit;
  background-color: none;
}
details summary {
  cursor: pointer;
  text-decoration: underline;
}
/* sync CodeMirror with prism  */
.CodeMirror {
  font-size: var(--code-fs) !important;
}
/*	opinionated styles --------------------- */

li:not(.white) > h2 {
  color: var(--secondary);
}
blockquote {
  position: relative;
  margin: 1.6rem 0 2.4rem;
  padding: 2rem 2.4rem 1.8rem 2.4rem;
  border-radius: var(--border-r);
  font-family: var(--font);
  max-width: var(--linemax);
}
blockquote p {
  font-size: var(--h5);
}
blockquote :last-child {
  margin: 0;
}
/*  buttons -------------------------------- */
button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
}
button[disabled],
.btn[disabled],
.btn:hover[disabled] {
  opacity: 0.55;
  pointer-events: none;
}
/*  reset ------- */
.btn {
  --btn-h: 4rem;
  --btn-outline: 0.2rem;
  --btn-font: var(--font);
  --btn-calc-h: calc(var(--btn-h) - var(--btn-outline) * 2);
  --btn-hover: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));

  position: relative;
  margin: 0 0.8rem 0.8rem 0;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  zoom: 1;
  border: none transparent;
  font: var(--h4) var(--btn-font);
  border-radius: var(--border-r);
  color: currentColor;
  cursor: pointer;
}
/*  default */
.btn {
  line-height: var(--btn-h);
  height: var(--btn-h);
  padding: 0 1.6rem;
  transition: all 0.1s;
}
.btn:hover {
  transform: scale(0.98);
  mix-blend-mode: multiply;
  background-image: var(--btn-hover);
}
/*  optional */
.btn[outline] {
  line-height: var(--btn-calc-h);
  height: var(--btn-calc-h);
  border: var(--btn-outline) solid currentColor;
  background-color: white;
  color: currentColor;
}
/*  links ------------------------------------- */
html a {
  position: relative;
  padding: 0 0 1px 0;
  border-bottom: 1px solid currentColor;
  user-select: none;
  color: var(--primary);
  transition: color 0.2s, border 0.2s, padding 0.2s;
}
html a:hover {
  color: var(--flash);
}
html a.no-underline {
  border-bottom: none;
  padding: 0;
}
.selected-bg-color {
  background: var(--error);
  color: white;
  display: inline-block;
  padding: 0.2em;
}
/*  lists ---------------------------------- */
.listify ol,
.listify ul {
  --list-padding: 1.8125rem;

  list-style: none;
  color: currentColor;
  margin-left: var(--list-padding);
}
.listify ol > li,
.listify ul > li {
  max-width: calc(var(--linemax) - var(--list-padding));
  line-height: 1.5;
  margin: 0 0 0.25rem 0;
}
.listify ul > li:before {
  content: '';
  position: absolute;
  margin-top: 0.6875rem;
  margin-left: -1.125rem;
  background-color: var(--secondary);
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 2px;
  opacity: 0.7;
}
.listify ol {
  list-style: decimal;
}
/*  close-button --------------------------- */
.button-close {
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  color: var(--on-primary);
  border-radius: 1.5rem;
  background: var(--primary);
  box-shadow: 0 0 0 1px var(--on-primary);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-appearance: none;
}
.button-close:before,
.button-close:after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1px;
  background: var(--on-primary);
  transform-origin: center;
  transition: height 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.button-close:before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -moz-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
  left: 0.25rem;
}
.button-close:after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -moz-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg);
  left: 0.25rem;
}
.button-close:hover {
  color: var(--primary);
  background: var(--on-primary);
}
.button-close:hover:before,
.button-close:hover:after {
  height: 2px;
  background: var(--primary);
}
.button-close:focus {
  border-color: #3399ff;
  box-shadow: 0 0 0 2px #3399ff;
}
.button-close:active {
  transform: scale(0.9);
}
.button-close:hover,
.button-close:focus,
.button-close:active {
  outline: none;
}

/*  tables --------------------------------- */
table {
  width: 100%;
  font-size: var(--h5);
}
td,
th {
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 0.25rem 0.5rem 0.25rem 0;
}
table code,
table span {
  white-space: pre;
}
/*	material ----------------------------------- */
.mdc-fab.floating-fab {
  bottom: 32px;
  margin: 0;
  position: fixed;
  right: 32px;
  z-index: 1;
}
.mdc-drawer--modal.top-left {
  position: fixed;
  top: var(--nav-h, 0);
  left: 0;
}
.mdc-drawer--modal.top-right {
  position: fixed;
  top: var(--nav-h, 0);
  right: 0;
}
/*	misc ----------------------------------- */
.text-inherit > * {
  font-size: inherit;
}
.inline > .inline-item:not(:first-child) {
  margin-left: 15px;
}
.inline-item {
  display: inline-block;
}
[class*='-primary'] h1,
[class*='-primary'] h2,
[class*='-primary'] h3,
[class*='-primary'] h4,
[class*='-primary'] h5,
[class*='-primary'] h6,
[class*='-secondary'] h1,
[class*='-secondary'] h2,
[class*='-secondary'] h3,
[class*='-secondary'] h4,
[class*='-secondary'] h5,
[class*='-secondary'] h6,
[class*='-primary'] a,
[class*='-secondary'] a {
  color: var(--text-light);
}
/*	grid ----------------------------------- */
/* .grid,
.grid.half {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  align-items: center;
}
.grid.stretch {
  align-items: stretch;
}

.grid > .cols-2,
.grid > .cols-3 {
  grid-column: span 1;
}
@media screen and (min-width: 840px) {
  .grid.half,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid > .cols-2,
  .grid > .cols-3 {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid > .cols-2 {
    grid-column: span 2;
  }
  .grid > .cols-3 {
    grid-column: span 3;
  }
} */
/*	helper styles -------------------------- */
.flex-auto {
  flex: 1 0 auto;
}

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.legend,
figcaption,
.post aside {
  max-width: none;
  margin: 0 auto;
  padding: 1rem 0 0 0.5rem;
  font: 0.75rem/1.6 var(--font-mono);
}
.box {
  padding: 1.5rem 2rem;
  border-radius: var(--border-r);
}
/*	theme colors --------------------------- */
.flash {
  color: var(--flash);
}
.black {
  color: black;
}
.white {
  color: white;
}

.back {
  background-color: var(--background);
}
.back-light {
  background-color: var(--back-light);
}
.bg-prime {
  background-color: var(--primary);
}
.bg-second {
  background-color: var(--secondary);
}
.bg-alt {
  background-color: var(--alt);
}
.bg-flash {
  background-color: var(--flash);
}
i.material-icons.leading ~ * {
  display: inline;
}
.material-icons.leading {
  display: inline-block;
  vertical-align: top;
}
i.button {
  background: aliceblue;
  padding: 8px;
  padding-bottom: 6px;
  font-style: inherit;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #dddddd;
  border-radius: 5px;
  vertical-align: baseline;
}
.breadcrumb-container {
  color: var(--background);
}
[slot='footer'] {
  font-size: 0.8em;
}
/**
 * Emphasize swopes two elements and emphasizes the primary element
*/
button.v-emph [class*='v-emph-'],
button.v-emph.v-emph-active [class*='v-emph-'] {
  transition: all 0.4s ease-in;
}
button.v-emph.v-emph-active .v-emph-primary,
button.v-emph .v-emph-secondary {
  font-size: 0.7rem !important;
  font-weight: 400 !important;
}
button.v-emph.v-emph-active .v-emph-secondary,
button.v-emph .v-emph-primary {
  font-size: 0.44rem !important;
  font-weight: 300 !important;
}
button.v-emph.v-emph-active .v-emph-down,
button.v-emph .v-emph-up {
  transform: translateY(13px);
}
button.v-emph.v-emph-active .v-emph-up,
button.v-emph .v-emph-down {
  transform: translateY(-13px);
}
button.v-emph.v-emph-bounce [class*='v-emph-'],
button.v-emph.v-emph-bounce.v-emph-active [class*='v-emph-'] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
