@tailwind base;
@tailwind components;
@tailwind utilities;

/*  links ------------------------------------- */
a {
  position: relative;
  padding: 0 0 1px 0;
  border-bottom: 1px solid currentColor;
  user-select: none;
  color: var(--prime);
  transition: color 0.2s, border 0.2s, padding 0.2s;
}
a:hover {
  color: var(--flash);
}
a.no-underline {
  border-bottom: none;
  padding: 0;
}